

.navbar {
    background-color: rgb(21, 184, 35);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-brand {
    font-size: 46px;
}

.nav .nav-link.active {
    background-color: #fff;
    color: rgb(21, 184, 35) ;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color:#fff;
}

.carousel-image {
    width: 100%;
    height: 70%;
    max-height: 700px;
    object-fit: cover;
}

.card-image {
    height: 260px;
    object-fit: cover;
}

.img-sobre {
    width: 100%;
    height: 300px;
}

footer {
    height: 300px;
    background-color: rgb(21, 184, 35);
    margin-top: 48px;
}